.container{
    padding-right:40px;
    padding-left:10px;
    padding-top:40px;
}
table{
    width:79%;
    height:50%;
    margin-top: 50px;
}

.noDataRow {
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54);
    text-align: center;
}


.mat-column-ID {
    width: 10%;
  }
  
  .mat-column-Name {
    width: 20%;
  }
  
  .mat-column-Email {
    width: 20%;
  }
  
  .mat-column-Date-Gender {
    width: 10%;
  }
  
  .mat-column-Status {
    width: 10%;
  }
  
  .mat-column-Actions {
    width: 15%;
    padding-top: 0px !important;
  }
  .tt-filter-input {
    flex: 1 1 0%;
    box-sizing: border-box;
    font-size: 10px;
    line-height: 1.125;
    border: 1px solid #bfbebe;
    height: 32px;
    pointer-events: visiblefill !important;
    border-radius: 10px;
    margin-right:5px;
    padding-left: 10px;
    width: 100px;
    
}
#add-btn{
    background:#6a8ed3;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    font-weight: 600;
    padding: 0px 5px 0px 10px;
    border-radius:8px ;
    margin-right: 50px;
}
#add-btn:hover{
    cursor: pointer;
    opacity: 0.8;
}
#add-btn mat-icon{
    margin-left:10px;
    margin-top: 2px;
    font-size: 20px;
}
#upper-bar{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e3e0e0;
    margin-bottom:30px;
}
#navbar{
    display: flex;
    justify-content: start;
    margin-top:5px;
}
#navbar div{
    font-size: 1em;
    font-weight: 600;
    padding-bottom: 0px;
    color:#bfbebe;
    margin-right:40px;
}
#navbar div:hover{
    cursor: pointer;
}
#add-search{
    display: flex;
    margin-bottom:5px;

}
#users-tab{
    color:#688cd5 !important;
    border-bottom:3px solid #688cd5 !important ;
}


.title{
    color:#656565;
    font-size: 1em;
    font-weight:500;
    margin-bottom:5px;
    margin-left:10px
}
.sub-title{
    color:#656565;
    margin-bottom: 20px;
    font-size: 0.9em;
    margin-left: 10px;
}

mat-paginator{
    width:79%
}
