.container{
    padding-right:40px;
    padding-top:20px;
    padding-left: 10px;
    background-color: #F5F5F5;
}

.title{
    color:#656565;
    font-size: 1.3em;
    font-weight:600;
    margin-bottom:5px;
}
.lower-section-title{
    color:#656565;
    font-size: 1em;
    font-weight:600;
    margin-bottom:5px;
}
.sub-title{
    color:#656565;
    font-size:0.9em;
}
.upper-section{
    display: flex;
    margin-top:40px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e7e5e5;
}
.card{
    height:205px;
    width:200px;
    margin-right:10px;
    background:linear-gradient(#aec4ef,#698dd5);
    color:white;
    border-radius: 5%;
    display: flex;
    flex-direction:column ;
    justify-content: flex-end;
    align-items: center;
}
.card:hover{
    cursor: pointer;
}
.card div{
    margin-bottom:20px;
    margin-left:5px;
}
.add-icon {
    font-size: 40px;
    margin-bottom:50px;
    margin-right: 15px;;
}

#recent-users{
    width:100%;
    height:190px;
    background-color:white;
    border-radius: 10px;
    padding-left:25px;
    padding-top:15px;
}

.user-card {
    color:#737373;
    margin-top:10px;
    border:1px solid #eeebeb;
    border-radius:5px;
    width:20%;
    margin-right:10px;
    max-width:130px;
    box-shadow: 0px 0px 5px 0px rgba(227,227,227,0.75);
}
.user-card-header{
    background-color: #F4F4F4;
    display: flex;
    justify-content: center;
    border-radius:5px 5px 0px 0px;
}

.user-card img{
    width:80px;

}

.user-card-content{
    display: flex;
    justify-content: center;
    padding:10px 0px 10px 0px;
    font-size:0.8em;
    overflow:hidden;
    height: 30px;
}  
.users-section{
    display:flex;
}

.lower-section{
    display: flex;  
}

#news-section{ 
    padding-top: 20px;
    width: 75%;
    border-right: 1px solid #e7e5e5;

}
#tutorials-section{
    width:25%;
    padding-left:20px ;
    padding-top: 20px;
}

.news-card{
    color:#737373;
    margin-top:10px;
    border:1px solid #eeebeb;
    border-radius:10px;
    margin-right:10px;
    width:30%;
    max-width:300px;
    box-shadow: 0px 0px 5px 0px rgba(227,227,227,0.75);
}


.news-card-header{
    background-color: #F4F4F4;
    display: flex;
    justify-content: center;
    align-items: center;
    height:150px;
    border-radius:10px;
}

.news-card img{
    width:100%;
    height:100%;
    border-radius: 10px 10px 0 0;
}

.news-card-content{
    display: flex;
    justify-content: center;
    padding:10px 10px 10px 10px;
    background-color:white;
    border-radius:10px;
    font-size: 0.9em;
} 
#news-cards{
    display: flex;;
}

#tutorial-video{
    height:200px;
    width:100%;
    border-radius: 10px;
    border:0px;
    box-shadow: 0px 0px 5px 0px rgba(227,227,227,0.75);
    margin-top: 10px;;
}

.recent-project-title{
    color:#656565;
    font-size: 0.9em;
    font-weight:600;
    margin-bottom:5px;
}
