<mat-progress-bar *ngIf="isModuleLoading" mode="indeterminate" color="#aa076b"></mat-progress-bar>
<div id="upper-bar">
  <div class="upper-bar-container"  [ngClass]="{ 'flex-locked': isMenuOpened, 'flex-unlocked': !isMenuOpened }">
    <div id="upper-bar-logo" *ngIf="!isMenuOpened && !isMenuLocked" [ngClass]="{ 'menu-locked': isMenuLocked, 'menu-unlocked': !isMenuLocked }">
      Locatify
    </div>
    <div>
      <button mat-button id="settings-btn" aria-label="settings dropdown" [matMenuTriggerFor]="beforeMenu">
        Sam Liddell
        <mat-icon class="material-icons">keyboard_arrow_down</mat-icon>
      </button>
      
      <button mat-raised-button id="premium-btn" >Premium</button>

    </div>

    <mat-menu #beforeMenu="matMenu" xPosition="before">
       
      <button mat-menu-item aria-label="logout button">
        Logout  
      </button>
    </mat-menu>
  </div>
</div>
<nav class="navbar" [ngClass]="{ 'locked-menu': isMenuLocked }" (mouseenter)="open()" (mouseleave)="close()">
  <ul class="navbar-nav">
    <li class="logo">
      <a class="navbar-brand">
        <div class="logo">
          <mat-icon id="menu-icon" *ngIf="!isMenuOpened && !isMenuLocked">menu</mat-icon>
          <a routerLink="/home" (click)="resetMenu('/home')">
            <span id="logoText" *ngIf="isMenuOpened || isMenuLocked">Locatify</span>
          </a>
          <button class="buttonMenu" mat-icon-button (click)="isMenuLocked = !isMenuLocked"
            *ngIf="isMenuOpened || isMenuLocked">
            <mat-icon class="lock">{{ isMenuLocked ? "lock" : "lock_open" }}</mat-icon>
          </button>
        </div>
      </a>
    </li>

    <li *ngFor="let nav of menuContent" [ngClass]="{ 'last-item': nav.path === 'help' }" class="nav-item"
      (click)="resetMenu(nav.path)">
      <a class="nav-link" [ngClass]="{ selectedMenu: nav.selected }">
        <mat-icon aria-hidden="true" focusable="false" data-prefix="fad" data-icon="cat" role="img"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-cat fa-w-16 fa-9x"
          [ngClass]="{ 'menu-element-icon': isMenuLocked, 'menu-element-icon-locked': !isMenuLocked }">
          {{ nav.icon }}
        </mat-icon>
        <span class="link-text">{{ nav.name }}</span>
      </a>
    </li>
  </ul>
</nav>
<mat-sidenav-container [ngClass]="{ 'main-content-locked': isMenuLocked }" class="sidenav-container">


  <div id="router" [ngClass]="{ 'menu-locked': isMenuLocked, 'menu-unlocked': !isMenuLocked }">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
