$header-height: 80px;
.navbar {
	padding: 0px;
	padding-right: 12px;
	background-color:#354463;
	transition: width 150ms ease;
	overflow: scroll;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 400;
}

.navbar-brand {
	margin: 0px;
}

nav {
	position: absolute;
	top: 0;
	left: 0;
}

nav {
	z-index: 6;
	color: white;
	flex-wrap: nowrap;
	position: absolute;
}

.sidenav-container {
	// position: absolute;
	// width: 100%;
	// top: $header-height;
	// bottom: 0;
	// right: 0;
}
.mat-drawer-content {
  margin-top: $header-height;
}
::ng-deep mat-sidenav {
	// margin-top: $header-height !important;
	height: calc(100vh - $header-height);
	width: calc(100% - 65px);
	max-width: 900px;
}

.main-content-locked {
	width: 100%
}
// ::ng-deep .mat-sidenav-content {
//   margin-top: $header-height !important;
// }



.buttonMenu {
	font-size: 26px;
	padding-bottom: 20px;
	margin-left: 20px;
	margin-top:-50px;
	margin-bottom: 10px;
}

.lock {
	font-size: 23px;
}


#router {
	width:auto;
	height:100%;
	background-color: #F5F5F5;
}

#router::-webkit-scrollbar {
	display: none;
}

.menu-locked {

	padding-left: 330px;
}
#menu_logo{
	
}


.menu-unlocked {
	padding-left: 100px;
}

.flex-locked{
	place-content: flex-end;
}
.flex-unlocked{
	place-content: space-between;
}

.menu-element-icon {
	transform: scale(0.9);
}

nav:not(:hover) .menu-element-icon-locked {
	margin-right: 10px;
	margin-left: 10px;
	transition: ease 0.2s;
}

nav:hover .menu-element-icon-locked {
	margin-right: 10px;
	margin-left: 20px;
	transition: ease 0.2s;
}

#imgParametres {
	height: 18px;
	margin-right: 5px;
}

#imgLogout {
	height: 18px;
	margin-right: 5px;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.navbar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.navbar {
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
}


.navbar-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100%;
}

.nav-item {
	width: 100%;
	height: 3em;
	margin-left:10px;
}

.nav-item:hover {
	cursor: pointer;

}

.last-item {
	margin-top: auto;
	margin-bottom: 50px;
}
.help-menu-element{
	border:1px solid white;
	border-radius:5px;
	display: flex;
	flex-direction: column;
	height:50px !important;
	width:40px;
	font-size: 0.9em;
	padding:5px 5px 0px 8px !important;
	margin-left: 5px!important;
}
.help-menu-container{
	display: flex !important;
	justify-content: center !important;
}
.nav-link {
	display: flex;
	align-items: center;
	height: 2.5em;
	color: white;
	text-decoration: none;
	transition: var(--transition-speed);
	margin-left: 10px;
	margin-right: 10px;
	padding-left:10px;

}

.nav-link:hover {
	background: #303749;
	border-radius: 10px;
	transition: 150ms;;
}

.link-text {
	display: none;
	margin-left: 1rem;
}

.nav-link svg {
	width: 2rem;
	min-width: 2rem;
	margin: 0 1.5rem;
}

.logo {
	padding: 10px 10px 10px 10px;
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	margin-bottom: 10px;
}

.logo svg {
	transform: rotate(0deg);
	transition: var(--transition-speed);
}


.navbar:hover .logo svg {
	transform: rotate(-180deg);
}

/* Large screens */
@media only screen and (min-width: 600px) {
	.navbar {
		top: 0;
		width: 4rem;
		height: 100vh;
	}

	.navbar:hover {
		width: 18rem;
	}

	.navbar:hover .link-text {
		display: inline;
	}

	.navbar:hover .logo svg {
		margin-left: 11rem;
	}

	.navbar:hover .logo-text {
		left: 0px;
	}
}

.locked-menu {
	width: 18rem
}

.locked-menu .link-text {
	display: inline;
}

.locked-menu .logo svg {
	margin-left: 11rem;
}

.locked-menu .logo-text {
	left: 0px;
}



.logo-closed {
	margin: 0;
	padding: 0;
	margin-left: -20px;
	height: 60px;
	width: 60px;
}

#logoText {
	font-size: 1em;
	margin-left: -5px;
	color: whitesmoke;
}

.logo a {
	text-decoration: none;
}

#userInfos {
	font-size: 0.5em;
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom: 20px;
}

#userName {
	color: #EDEEEF;
}

#userEmail {
	color: #7D7E83;
	font-size: 0.8em;
	margin-right: 10px;
}

.upper-bar-container {
	display: flex;
	padding-top: 1%;
	padding-bottom: 1%;
	background-color: #F5F5F5;
	box-shadow: 0px -20px 30px black;
	z-index: 8;
	height: 30px;
}


#settings-btn  {
	margin-left: 10px;
}
#notif-btn  {
	margin-right: 10px;
	margin-left: 10px;
}
#premium-btn{
	color:white;
	font-weight: bold;
	background: #e94369;
	margin-right:40px;
	padding-top:0px ;
}

#upper-bar-user-img {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin-right: 10px;
}

#upper-bar-username {
	color: #1F1F1F;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1em;
}

.selectedMenu {
	background-color: #60729a;
	border-radius: 10px;
	color: #fff;
	margin-right: 10px;
	margin-left: 10px;
}

#menu-icon{
	padding-right: 10px;
	transform: scale(0.8);
}
#upper-bar-logo{
	width:120px;
	margin-top: 0px;
}
