<div class="container">
    <div>
        <div class="title">
            Create your user
        </div>
        <div class="sub-title">
            Creator CMS is your hub for creating, managing and publishing location based tours, games and in-app content to mobile apps.
        </div>
    </div>
    
    <form id="form" [formGroup]="addUserForm" >
        <!-- Field Name -->
        <div class="field">
            <div class="field-title">
                1. Enter a name for your user
            </div>
            <mat-form-field appearance="outline" >
                <mat-label>Name</mat-label>
                <input matInput name="name" formControlName="name" required>
                <mat-icon matSuffix>person</mat-icon>
                <mat-error *ngIf="addUserForm.get('name').hasError('required')">
                    This field is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
         <!-- Field Email -->
        <div class="field">
            <div class="field-title">
                2. Enter an email for your user
            </div>
        
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput name="email" formControlName="email" required>
                <mat-icon matSuffix>email</mat-icon>
                <mat-error *ngIf="addUserForm.get('email').invalid">
                    This field is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
         <!-- Field Gender -->
         <div class="field">
             <div class="field-title">
                 3. Select the gender
             </div>
             <mat-form-field appearance="outline" class="full-width pt-2 pr-1">
                 <mat-label>Gender</mat-label>
                 <mat-select formControlName="gender" name="gender">
                     <mat-option>Select Gender</mat-option>
                     <mat-option value="male">Male</mat-option>
                     <mat-option value="female">Female</mat-option>
                 </mat-select>
                 <mat-error *ngIf="addUserForm.get('gender').hasError('required')">
                     This field is <strong>required</strong>
                 </mat-error>
             </mat-form-field>
        </div>
    
        <!-- Field Status -->
        <div>
            <div class="field-title">
                4. Select the status
            </div>
            <mat-radio-group aria-label="Select an option" formControlName="status" name="status">
        
                <mat-radio-button class="mr-3" value="active">
                    Active
                </mat-radio-button>
                
                <mat-radio-button value="inactive">
                    Inactive
                </mat-radio-button>
        
            </mat-radio-group>
        </div>
        <br>
        <button
            *ngIf="!loading"
            mat-button
            mat-raised-button
            class="button"
            [disabled]="addUserForm.invalid"
            (click)="addUser()"
        >
            Add User
        </button>
        <button
            *ngIf="loading"
            mat-button
            mat-raised-button
            class="button"
            disabled
        >
            Loading... 
        </button>
    </form>
</div>
